services:
  database:
    image: mysql:latest
    container_name: IS_database
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: IS_database
      MYSQL_USER: IS_user
      MYSQL_PASSWORD: pass
    ports:
      - "3369:3306"
    volumes:
      - database_is:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin
    container_name: IS_phpmyadmin
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - database
volumes:
  database_is: