@import "bootstrap/scss/bootstrap-grid";

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .navbarLogin {
    margin-left: auto;
  }
}

.cutText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}