.chartTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.table {
  transition: margin-left 0.3s ease-in-out;
  overflow-x: auto;
  max-width: 100%;

  @media (max-width: 1780px) {
    padding-left: 10%;
  }

  @media (max-width: 1480px) {
    margin-top: 40px;
    width: 100%;
  }

  .hoveredRow {
    //border: 1px solid #94add6;
    td {
      background-color: #ddd;
    }
  }

  th {
    white-space: nowrap;
    cursor: pointer;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 1;

    &:hover {
      background-color: #f0f0f0;
    }

    .tableUnits {
      font-size: 0.8rem;
      font-weight: 400;
      color: #999;
    }
  }
}

.scrollableTableWrapper {
  overflow-x: auto;
  max-width: 100%;
}

.map {
  height: fit-content;
  @media screen and (max-width: 1480px) {
    flex: 0 0 auto;
    width: 100%;
  }
}

.chartContainer {
  position: relative;
}

.chartStatusOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #21212155;
  font-size: 1.5rem;
  font-weight: 600;

  &.background_none {
    border: none;
  }

  &.background_visible {
    background-color: #8881;
    border: 1px solid #21212122;
  }
}

@keyframes loadingRowAnimation {
  0% {
    background-color: white;
  }
  30% {
    background-color: #eee;
  }
  60% {
    background-color: white;
  }
}

.loadingRow {
  background-color: white;
  animation: loadingRowAnimation 3s infinite;
}